.autoForm {
  :global {
    .formInner {
      padding: 0px;
    }

    .formInnerinline {
      display: flex;
      margin-right: 12px;
    }
  
    .btnwrap {
      margin-bottom: 10px;
      overflow: hidden;
      
      .subBtn {
        margin-right: 12px;
        font-weight: bold;
        margin-left: calc(18% + 6px);
      }
  
      .leftSubBtn {
        margin-left: 0px;
      }
  
      .rightSubBtn {
        float: right;
      }
    }

  }
}

.autoForm.form-inline {
  display: flex;
}
